
{foreach from=$all_langs item=lang key=key name=name}
	<span><a href="{$url_base}{if not empty($languages[$lang])}{if $languages[$lang]!='index'}{$languages[$lang]}{/if}{else}{$index_languages[$lang]}{/if}">{$name[$key]}</a></span>
{/foreach}
