<section class="banner">
    <div class="wrapper">
        <div class="bxBanner">
	{foreach from=$slides item=slide key=key name=slider}	
		<a href="{$slide.target_url}"><img src="{$slide.photo}" alt="{$slide.nazev}"></a>
	{/foreach}
        </div>
    </div>
</section>