<section>
	<article>
		<div class="wrapper">
			<h1>{$item.nazev}</h1>
			    
			 <div class="row">
			 	{widget controller="navigation" action="category"}
                <div class="col-sm-9">
                	<p>{$item.popis}</p>
				</div>
			</div>
		</div>
	</article>
</section>